@tailwind base;

@layer base {
  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
    border-color: theme("borderColor.DEFAULT", currentColor);
  }
  html {
    font-family: Poppins, system-ui, sans-serif !important;
  }
}

@tailwind components;

@tailwind utilities;
